.settings_form{
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.settings_button_center{
    text-align: center;
}
.selector_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}